.root
{
  -fx-background-color: #333333;
}

.label
{
  -fx-font-size: 14pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: white;
}

.button
{
  -fx-padding: 5 22 5 22;
  -fx-border-color: white;
  -fx-border-width: 1;
  -fx-background-radius: 0;
  -fx-background-radius: 0;
  -fx-background-color: #333333;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  -fx-font-size: 12pt;
  -fx-text-fill: white;
  -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover
{
  -fx-background-color: #474747;
}

.button:pressed
{
  -fx-background-color: #5b5b5b;
}

#iconButton
{
  -fx-padding: 2;
}

#title
{
  -fx-font-size: 16pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: white;
}

#timerLabel
{
  -fx-font-size: 12pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: white;
}

#stateInfoLabel
{
  -fx-font-size: 10pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: white;
}

#stateInfo
{
  -fx-font-size: 10pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: #afcae0;
}

#mainPolicyPane, #mainPaneVoting
{
  -fx-background-color: #444444;
}

#leftLayout, #rightLayout, #topLayout, #bottomLayout
{
  -fx-background-color: #333333;
}

#card-image:hover
{
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-translate-y: -50;
}
#card-image
{
  -fx-font-size:10;
  -fx-background-fill: #992299;
  -fx-border-color: white;
  -fx-background-color: black;
  -fx-border-width: 2;
  -fx-background-width: 4;
}


#state-image:hover
{
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 3,1,0,0 );
    -fx-effect: innershadow( gaussian , rgba(255,255,255,0.5) , 2,1,0,0 );*/
}

#voting-image:hover
{
  -fx-effect: dropshadow( gaussian ,  #ffd700, 3,1,0,0 );
  /*-fx-effect: innershadow( gaussian , rgba(255,255,255,0.5) , 2,1,0,0 );*/
}

#california-images:hover
{

  -fx-effect: dropshadow( gaussian ,  #483d8b , 3,1,0,0 );
}
#heartland-images:hover
{
  -fx-effect: dropshadow( gaussian , #91814b, 3,1,0,0 );
}
#mountain-images:hover
{
  -fx-effect: dropshadow( gaussian , #8b4513 , 3,1,0,0 );
}
#crescent-images:hover
{
  -fx-effect: dropshadow( gaussian , #32cd32 , 3,1,0,0 );
}
#plains-images:hover
{
  -fx-effect: dropshadow( gaussian , #00bfff, 3,1,0,0 );
}
#deltas-images:hover
{
  -fx-effect: dropshadow( gaussian , #f08080, 3,1,0,0 );
}
#southeast-images:hover
{
  -fx-effect: dropshadow( gaussian , #f0b800 , 3,1,0,0 );
}

#display-info
{
  -fx-font-size:16;
  -fx-fill: #f0b800;
}
#divider
{
  -fx-background-color: #474747;
}